@media (max-width: 780px) {
  .container {
    min-width: 320px;
  }

  .main-content {
    margin-bottom: 20px;
  }

  .about {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .about_photo-container {
    width: 250px;
    margin: 0;
  }

  .about_info {
    font-size: 20px;
    padding: 20px 50px;
  }

  .about_info-content {
    margin-bottom: 3px;
  }

  .section-title {
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
  }

  .card {
    border-radius: 0;
    padding: 10px 0;
    margin-bottom: 20px;
    font-size: 16px;
  }

  .footer_social-list {
    padding: 0;
    margin: 0 50px
  }

  .footer_social-link-logo {
    width: 30px;
    height: 30px;
  }
}
